@font-face {
  font-family: "iconfont"; /* Project id 2751624 */
  src: url('../font/iconfont.woff2?t=1629363813511') format('woff2'),
       url('../font/iconfont.woff?t=1629363813511') format('woff'),
       url('../font/iconfont.ttf?t=1629363813511') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon4:before {
  content: "\e633";
}

.icon-kefu:before {
  content: "\e63c";
}

.icon-huangguan:before {
  content: "\e63d";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-shouji:before {
  content: "\e605";
}

.icon-you:before {
  content: "\e621";
}

.icon-dianpu:before {
  content: "\e629";
}

.icon-lujing134:before {
  content: "\e669";
}

.icon-dianhua:before {
  content: "\e606";
}

.icon-wode:before {
  content: "\e600";
}

.icon-eleme:before {
  content: "\e668";
}

.icon-zhinan-xian:before {
  content: "\e74d";
}

